<div class="container">
  <p><%= @list.nom %> :</p>
  <div class="film-card">
    <% @list.films.each do |film| %>
      <%= film.titre %>
      <%= film.apercu %>
      <%= film.url_affiche %>
      <%= film.note %>
    <% end %>
  </div>
</div>
