<div class="list-container">
  <p><%= @list.nom %> :</p>
  <% @list.films.each do |film| %>
    <div class="film-card">
      <p><%= film.titre %></p>
      <p><%= film.apercu %></p>
      <p><%= film.url_affiche %></p>
      <p><%= film.note %></p>
    </div>
  <% end %>
</div>
